In [1]:
print("Hello World")

Hello World

In [8]:
#Variables, native types and basic operations

#the objective below is to initialize a variable
a = 12
b = 13
c = 14
d = "hello"

a

12

In [9]:
display (d) #we use it for data frames, print is enough for others

'hello'

In [14]:
# operator + can be used for all data types to concatenate them
a = "hello"

a = a + str(c)
a

'hello14'

In [17]:
a = "hello "
a * 2    #prints your variable twice

'hello hello '

In [19]:
type(False)

bool

In [20]:
a = "hello"
a.upper()
# a common method for strings is "uppercase"
# whenever you call a method or a function, you need to use () in the end

'HELLO'

In [ ]:
## We talked about the simplest native python data types but we also have other native data types that work as 
## containers. They are used to store collection of data. Collection of other data types. 
## And they are the Lists. Sets. Tuples. Dictionaries.

In [24]:
my_list = [5.0, "hello", 10, True]
my_list [3] 
#lists

True

In [23]:
my_tuple = (160,55)
my_tuple[0]
#tuples

160

In [40]:
test_list = ["January","March","May","July","August","October","December"]
print(test_list[1])
print(test_list[-1])

March
December

In [41]:
print(len(test_list)-1)

6

In [46]:
test_list[0:5:2]  #using steps to define a slice of a list

['January', 'May', 'August']

In [55]:
test_list[1::5] #to find the 2nd and the last month

['March', 'December']

In [48]:
print(test_list[1] + "\n" + test_list[-1])

March
December

In [49]:
for i in test_list:
    print(i)
      # i is a dummy variable that is created in your loop, that points to each item in the list, one at a atime

January
March
May
July
August
October
December

In [54]:
# strings behave a little bit like lists -> each element is a letter
test_sentence = "In the beginning the universe was created"
print(test_sentence[0])
print(test_sentence[0:6])
print(test_sentence[-7:])

I
In the
created.

In [57]:
list = [5, "sara", 4.2]
for element in list:
    if element == "sara":
        list[list.index(element)] = "joao"            #changing the list using element and not i (index)
list

[5, 'joao', 4.2]

In [58]:
newlist = []
for element in list:
    if element != "joao":
        newlist.append(element)                    #changing the list using element but instead of rewriting the old list, doing
                                                   #a new one that will have the results you wanted to change
    else:
        newlist.append("sara e joao")
newlist

[5, 'sara e joao', 4.2]

In [62]:
for element in list:
    if type(element) in (float, int):
        print(element)

5
4.2

In [68]:
list = [20, 30, 42, 56]
for i in list:
    if i % 3:
        print(i)

20
56

In [6]:
test_list = ["Jan","Mar","May","Jul","Aug","Oct","Dec"]
for month in test_list:
    if month[0] == "M":
        print("\n" + month.upper() + "\n")
    else:
        print(month)

Jan

MAR


MAY

Jul
Aug
Oct
Dec

In [4]:
typelist = []
mylist = [5.0, "guitar", 10, True]

# the append is a method of lists whose job is to add the element to the end
for element in mylist:
  typelist.append(type(element))

typelist

[float, str, int, bool]

In [8]:
#nested loops work for when your list is not as simple as previously seen
cool_list = [[1,2,3,4], ["eenie", "meenie", "miny", "moe"], [True, False, "idk"]]     #this list has 3 elements but each list 
#lists inside a list                                                                  #has its own number of elements
    
for element in cool_list:
    for sub_element in element:
        print(sub_element)

1
2
3
4
eenie
meenie
miny
moe
True
False
idk

In [11]:
i = 0

while i < 6: # statement --> here the statment is true if the variable i is smaller that 6
  i += 1
  print(i)

1
2
3
4
5
6

In [12]:
dummy = [1,2,3,4,5]
i = 0

while i <3:
    print (dummy[i])       
    i += 1

1
2
3